.changePsw {
  p {
    text-align: center;
  }
  display: flex;
  flex-flow: column;

  .btn {
    margin: 5px 0px;
  }
}

.about {
  width: 310px;
  max-width: 95%;
  padding-bottom: 15px;

  .text {
    margin: 0;
    padding: 0;
  }

  .email {
    width: fit-content;
    padding: 2px 10px;
    margin: 0;
  }
}

.reportABug {
  font-size: 15px;
  width: 290px;
}

.postSettings {
  .isViewedAnonPostsEl {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.myProfile {
  display: flex;
  align-items: center;
  gap: 40px;

  .ava {
    margin-bottom: 20px;
    width: 140px;
    height: 140px;

    background-color: #111111;
    border-radius: 50%;
  }

  .data {
    .displayName,
    .username,
    .bio {
      margin-top: 10px;
      display: flex;
      flex-flow: column;

      span {
        font-size: 14px;
        margin: 0px 9px;
      }
    }
  }
}

@media (max-width: 700px) {
  .myProfile {
    flex-flow: column;
  }
}

// custom
.custom {
  * {
    padding: 0;
    margin: 10px 0;
  }
  .customEl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
