.changePsw {
  p {
    text-align: center;
  }
  display: flex;
  flex-flow: column;

  .btn {
    margin: 5px 0px;
  }
}

.about {
  width: 310px;
  max-width: 95%;
  padding-bottom: 15px;

  .text {
    margin: 0;
    padding: 0;
  }

  .email {
    width: fit-content;
    padding: 2px 10px;
    margin: 0;
  }
}

.reportABug {
  font-size: 15px;
  width: 290px;
}

.postSettings {
  .isViewedAnonPostsEl {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
