@use "../../shared/style/main.scss" as g;

header {
  /*border-bottom: 1px solid g.$borderPrimary;*/
  margin: auto;

  display: flex;
  align-items: center;

  .back {
    position: fixed;
  }

  .children {
    margin: auto;
  }
}
