@use "../../shared/style/main.scss" as global;

@media (min-width: 1400px) {
  .Home {
    display: flex;
    justify-content: center;

    width: 80%;

    height: 100vh;
    margin: auto;
    display: flex;
  }
}

@media (max-width: 1400px) {
  .Home {
    display: flex;
    justify-content: center;

    width: 95%;

    height: 100vh;
    margin: auto;
    display: flex;
  }
}

@media (min-width: 700px) {
  .outlet {
    width: 550px;
    margin: 10px;
    overflow-y: auto;
  }
}

@media (max-width: 700px) {
  .outlet {
    width: 100%;
    margin: auto;
    overflow-y: auto;
  }
}
