@use '../../shared/style/main.scss' as g;

.modal {
    position: fixed;
    bottom: 30px;

    border: 1px solid g.$borderPrimary;
    padding: 0px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    border-radius: g.$radiusDefault;

    .close:hover {
        opacity: 0.8;
    }
    
}