@use "../../shared/style/main.scss" as g;

.modalC {
  width: 100vw;

  position: fixed;
  left: 0;
  bottom: 30px;

  display: flex;
  justify-content: center;

  backdrop-filter: 15px;
}

.modal {
  border: 1px solid g.$borderPrimary;
  border-radius: g.$radius_md;

  padding: 5px 5px 5px 10px;
  width: fit-content;
  height: fit-content;

  background-color: g.$bg;

  display: flex;
  align-items: center;
  gap: 20px;

  .closeEl {
    width: 80px;
  }

  .closeEl:hover {
    opacity: 0.8;
  }
}
