@use "../../shared/style/main.scss" as g;

.mc {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  h2,
  p {
    text-align: center;
  }

  h2 {
    font-size: 25px;
  }

  .Input {
    border-radius: g.$radius_md;
    padding: 0px 15px;
    font-size: 15px;
  }

  .btn {
    margin-top: 5px;
  }

  .toPageReg,
  .toPageLog {
    background-color: g.$accentColor;

    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.6;
    }
  }

  .validate-text {
    color: red;
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.sessionForm {
  padding: 20px;
  border-radius: g.$radius_md;

  h3 {
    text-align: center;
  }

  .btn {
    margin-top: 10px;
  }
}
