$bg: #020202;

$borderPrimary: #181818;
$borderAccent: #131212;
$hoverColorBorder: #201f1f;

$color: #aaa5a7;
$mainPrimary: #34247e;
$b: rgb(9, 9, 9);

$mainPrimary_blur: rgba(40, 28, 93, 0.1);

$accentColor: #1a1919;

$radius: 10px;
$radius_sm: 15px;
$radius_chs: 25px; //
$radius_md: 30px; // **def
$radius_lg: 50px;

$hoverColor: #151414;
$activeColor: #0c0c0c;

:root {
  background-color: $bg;
  color: $color;
}

.tochka {
  width: 3px;
  height: 3px;
  background-color: rgb(154, 151, 151);
}

.bgPrimary {
  background-color: $mainPrimary;
}
